.popup__container {
    position: absolute;
    max-width: 430px;
    max-height: 330px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 25px;
}

@media screen and (max-width : 436px) {
    .popup__container {
        max-width: 310px;
        max-height: 366.51px;
    }
}