.popup__form {
    max-width: 358px;
    margin: 0 auto;
    margin-top: 54px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36.51px;
}

@media screen and (max-width : 494px) {
    .popup__form {
        max-width: 83.33%;
        margin-top: 36px;
        padding: 0;
        padding-bottom: 30px;
    }
}