@import url(./__copyright/footer__copyright.css);

.footer {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    max-width: 882px;
    box-sizing: border-box;
    padding-bottom: 60px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    background-color: #000000;
}

@media all and (max-width : 600px) {
    .footer {
        max-width: 282px;
        padding-bottom: 36px;
    }
}